{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div>
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled="" selected="">Symbol</option>
                {% for s in sharesdb %}
                    <option value="{{ s.symbol }}">{{ s.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        <div>
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="shares" placeholder="Shares" type="number">
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
